.button{
  display: inline-flex;
  align-items: center;
  padding: 1em;
  border-radius: 10%;
  border:none;
  margin: 0.2rem;
  font-family: Roboto,    sans-serif;
  font-weight: bold;
  color: #0d204f;

  &--primary{
    background-color: #fedc2e;

  }

  &--secondary{
    background-color: #eaecf2;
  }

  &--primary:hover
  {
    background-color: #fec42a;

  }
  &--secondary:hover {
    background-color: #b5b7bb;
  }
}
