.button{
  align-items: center;
  padding: 1em;
  border-radius: 5%;
  border:none;
  margin: 0.2rem;

  &--primary{
    background-color: #f4de6e;
  }

  &--secondary{
    background-color: #eaecf2;
  }

  &--primary:hover
  {
    background-color: #FFDD00;
  }
  &--secondary:hover {
    background-color: #b5b7bb;
  }
}
